<div>
  <div>
    <span class="hall_num">1</span>
    <span class="hall_name">まるまる公民館</span>
  </div>
  <div>
    <span>富山県富山市まるまる123-1</span>
  </div>
  <div>
    <%= image_tag('http://www.city.atsugi.kanagawa.jp/facilities/city/center/p004086_d/img/002.JPG', size: '256x256') %>
  </div>
</div>
