<div class="link_to_detail" data-id="1">
  <div>
    <span class="hall_num"><%= index %></span>
    <span class="hall_name"><%= hall.name %></span>
  </div>
  <div>
    <span><%= hall.address %></span>
  </div>
  <div>
    <%= image_tag('http://www.city.atsugi.kanagawa.jp/facilities/city/center/p004086_d/img/002.JPG', size: '256x256') %>
  </div>
</div>
