<h1>XXX公民館</h1>

<ul style="display: flex;">
  <li><a href="">施設概要</a></li>
  <li><a href="">写真</a></li>
  <li><a href="">空室情報</a></li>
  <li><a href="">地図</a></li>
</ul>

<ul style="display: flex;">
  <li><%= image_tag('http://www.city.atsugi.kanagawa.jp/facilities/city/center/p004086_d/img/002.JPG', size: '256x256') %></li>
  <li><%= image_tag('http://www.city.atsugi.kanagawa.jp/facilities/city/center/p004086_d/img/002.JPG', size: '256x256') %></li>
</ul>

<ul>
  <li>住所：富山県富山市XXX NN-NN</li>
  <li>連絡先：080-1234-5678</li>
  <li>駐車場：10台程度</li>
</ul>
